@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.edit {

    &__header-container{
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid $Cloud;
        padding-left: 1rem;

        @include tablet{
            padding-left: 2.25rem;
        }
    }
    &__header {
        font-size: 28px;
    }
    &__back-image{
        background: $White;
    }
    &__back-button{
        background: $White;
        border: none;
        height: auto;
    }
}

.form {
    select{
        background-color:$White;
    }

    @include tablet{
        display: flex;
        flex-direction: column;
    }

    &__top-container{
        padding: 0 1.5rem;
        @include tablet{
            display: flex;
            padding: 2rem 1.5rem;
            gap: 3rem;
        }
    }

    &__title{
        @include tablet{
            margin-top: 0;
            font-size: 1.5rem;
        }
    }

    &__label{
        font-weight: 800;
        padding: 1rem 0 .2rem;
    }

    &__details-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 1rem;
        
        @include tablet{
            width: 40%;
        }
    }

    &__availability-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-top: 1px solid $Cloud;
        padding-bottom: 1rem;
        
        @include tablet{
            border-top: none;
            width: 40%;
            padding-left: 4rem;
            border-left: 1px solid $Cloud;
        }
    }

    &__radio-container{
        display: flex;
        width: 100%;
        gap: 4rem;
    }

    &__description{
        resize: none;
        width: 100%;
        border-radius:20px;
        border-color:$Cloud;
        padding-left: 1rem;
        padding-top: .5rem;
    }

    &__select,
    &__text-input{
        height:2rem;
        width: 100%;
        border-radius:20px;
        border: 1px solid $Cloud;
        padding-left: 1rem;

    }

    &__buttons-container{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 1rem 0;
        background-color:$Light-Grey;

        
        @include tablet{
            justify-content: flex-end;
            gap: 1rem;
            padding-right: 1rem;
        }
        button{
            width: 40%;
            height: 2rem;
            border-radius: 20px;

            @include tablet{
                width: 4.5rem;
            }
        }

    }
    &__buttons-cancel{
        background-color: $White;
        color: $Slate;
        border: 1px solid $Cloud;
    }
    &__buttons-save{
        border: none;
        color: $White;
        background-color: $Instock-Indigo;
    }

}

.empty {
    visibility: hidden;
}