@use '../../styles/partials/font' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.inventory-item {
    box-sizing: border-box;
    max-width: 400px;
    &__icon-title{
        display: flex;
    }

    &__title-container{
        display: flex;
        justify-content: space-between;
    }

    &__about{
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        box-sizing: border-box;
    }
    &__description{
        width: 600px;
    }

    &__description,
    &__category,
    &__status{
        justify-content: flex-start;
    }

    h3, p{
        display: flex;
    }

}